
.title {
    width: 200px;
    height: 26px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
} 

//.page {
    //width: 100%;
   // border: 1px solid red;
//}